on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: check-style-coverage

jobs:
  check-style-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            any::devtools
          needs: check

      - name: Check coverage with covr
        run: covr::codecov()
        shell: Rscript {0}

      - name: Install package before linting
        run: devtools::install()
        shell: Rscript {0}

      - name: Check code style with lintr
        env:
          LINTR_COMMENT_BOT: true
        run: lintr::lint_package()
        shell: Rscript {0}
